body {
	background-color: rgb(223,236,241); /* RGB Color */
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	color: DimGray; /* Color Name */
	}

h1 {
	background-color: rgba(24,123,162,0.5); /* RGB Opacity */
	border-bottom: 1px solid #A2186F; /* Hex */
	color: #A2186F; /* Hex Color */
	}
	
h2 {
	background-color: hsl(322,85%,64%); /* HSL Color */
	border-bottom: 1px solid #187BA2; /* Hex Color */
	color: #187BA2; /* Hex Color */
	}
	
h3 {
	background-color: hsla(197,85%,64%,0.35); /* HSL Opacity */
	border-bottom: 1px solid #187BA2; /* Hex Color */
	color: #187BA2; /* Hex Color */
	}
	
p.one {
	background-color: rgba(24,123,162,0.15); /* RGB Opacity */
	}

p.two {
	background-color: rgba(207,208,209,0.15); /* RGB Opacity */
	}
	
b {
	color: #A2186F;
	}

i {
	color: #187BA2;
	}

a {
	color: #A2186F;
	font-weight: bold;
	text-decoration: none;
	}

li.professionsOne {
	background-color: rgba(24,123,162,0.15); /* HSL Opacity */
	border-bottom: 1px solid #187BA2;
	}

li.professionsTwo {
	background-color: rgba(207,208,209,0.15); /* HSL Opacity */
	border-bottom: 1px solid #187BA2;
	}